:root{
    --bg-theme:#e77813;
}

.btn-theme{
    background-color: var(--bg-theme)!important;
    color: white !important;
}
.text-theme{
    color: var(--bg-theme)!important;
}

.h-full{
    height: 100vh!important;
}